@mixin clearfix{
    &::after{
        content:"";
        display: table;
        clear:both;
    }
}
@mixin obj-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// em recommended to use in mixin because some browser doesnt support rem!
@mixin respond($breakpoint){
    @if $breakpoint==phone{
        @media (max-width:37.5em) { @content};//600px/16px=37.5 
    }
    @if $breakpoint==tab-port{
        @media (max-width:56.25em) { @content};//900/16px=56.25
    }
    @if $breakpoint==tab-land{
        @media (max-width:75em) { @content};//1200px/16px=75
    }
    @if $breakpoint==big-desktop{
        @media (max-width:112.5em) { @content};//1800px/16px=112.5
    }
}