:root{
  --violet-00:#f2eff8;
  --violet-0:#ccc7db;
  --violet-1:#7668a6;
  --violet-2:#484065;
  --violet-3:#3b3551;
  --violet-4:#342e46;
  --gray-1:#eeeff3;
  --gray-2:#ecedf1;
  --btn-violet:#7667a8;
  --btn-red:#de2850;
  --btn-rose:#f1b8be;

  --line-gray:1px solid #cccccc;

--bg-largest:75em; //1200px
--bg-large:56.25em; //900px
--bg-medium:43.75em; //700px
--bg-small:25.88em; //414px
}

//GRID
$grid-width: 100%;
$gutter-vertical:2.5rem;
$gutter-horizontal:2.5rem;
$gutter-vertical-s:.2rem;
$gutter-horizontal-s:.2rem;
 

//FONT
$default-font-size:1.6rem;

*{
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  box-sizing: border-box;
  @media screen and (min-width:75em) { font-size: 75%;}//1rem = 12px, 12/16=75%,1800px/16px=112.5
  
  @media screen and (max-width:56.25em) { font-size: 56.25%;}//1rem = 9px, 9/16=56.25%,1200px/16px=75
  
  @media screen and (max-width:50em) { font-size: 50%;}//1rem = 8px, 8/16=50%, 900/16px=56.25
  
  @media screen and (max-width:37.5em) { font-size: 37.5%;}//1rem = 8px, 6/16=37.5%, 600px/16px=37.5 
}
// @media screen and (max-width: 600px) {  left: 0;}



//ISSUES WITH ANGULAR SASS COMPILER AND MIXIN
/*
@include respond(phone){//1rem = 6px, 10px/16px = 62.5%
  font-size: 37.5%;
}

@include respond(tab-land){//1rem = 9px, 10px/16px = 62.5%
  font-size: 62.5%;
}

@include respond(tab-port){//1rem = 8px, 10px/16px = 62.5%
  font-size: 56.25%;
}

@include respond(big-screen){//1rem = 12px, 10px/16px = 62.5%
  font-size: 75%;
}
*/
body {
  background-color: var(--gray-2);
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}



////////////////////////////////////
//JUST FOR TEST
.footer {
  width: 50px;
  height: 50px;
  margin: 10rem auto;
  padding:5rem;
  background-color: var(--violet-1);
  border-radius: 15px;
}

.header {
  width: 50px;
  height: 50px;
  margin: 10rem auto;
  padding:5rem;
  background-color: var(--violet-2);
  border-radius: 15px;
}
/////////////////////////////////////