.homeview {

    flex: 1;
    color: white;
    &__img{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 10rem;
    }
    &__svg{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 10rem;
        fill: rgba(black,.4);
        width: 1em;
        height: 1em;
    }
}

.items {
    position: relative;
    margin:0 auto;
    background-color: white;
    padding:1rem;
    height: 20rem;
    overflow: hidden;
    &--main {
        background-color: white;
        color: gray;
        height: 43rem;
    }
    &--footer {
        height: 10rem;
        background-color: white;
    }
    &__img{
        display: block;
        width: 100%;
        height: auto;
    }
    &__p{
        padding: 2rem;
        text-align: justify;
    }
}