<div class="grid-on">
    <div class="row">
        <div class="col-1-of-2">
            <div class="row" *ngFor="let table of tables">
                <div class="col-1-of-1">
                    <div class="items--main">
                            <img class="items__img" src="{{table.imagePath}}" alt="">
                            <p class="items__p">Google Sheets is one of my favorite web applications. It’s quick, lightweight, and easy to use. For those of you not familiar with Google Sheets, it’s Google’s web-based spreadsheet application. While creating tabular data is the main function of this application, did you know that you can also create dynamic, embeddable charts based on these data values? Let’s take a look.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-1-of-2">
            <div class="row" *ngFor="let row of rowNumber; let i=index">
                <div class="col-1-of-2-2nd" *ngFor="let deal of getCurrentDeals(i)">
                    <div class="items">
                        <h1 class="header-2">{{deal.product}}</h1>
                        <svg class="homeview__svg">
                            <use attr.xlink:href="{{deal.imagePath}}"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-1">
            <div class="items--footer">
                <h1 class="header-1">Test from https://www.webascender.com/</h1>

            </div>
        </div>
    </div>
</div>