<div class="product__container" [ngStyle]="{'background-color': newColor}">

  <div class="close">
    <a (click)="onClose()">
      <div class="close__btn">
        <svg class="close__svg">
          <use xlink:href="#lnr-cross-circle"></use>
        </svg>
      </div>
    </a>
  </div>


  <div class="product__2nd">
    <div class="product__2nd__con">
      <h1 class="product__h1">

      </h1>
      <div class="product__btn">
        <button class="btn btn__purple u-text-to-upper">new item</button>
      </div>

      <div class="chart__icon u-c-text u-text-to-upper">
        <a href="#">
          <svg class="chart__svg">
            <use xlink:href="#lnr-menu-circle"></use>
          </svg>
          <span>edit</span>
        </a>
      </div>
      <div class="chart__icon u-c-text u-text-to-upper">
        <a href="#">
          <svg class="chart__svg">
            <use xlink:href="#lnr-plus-circle"></use>
          </svg>
          <span>add</span>
        </a>
      </div>
      <div class="chart__icon u-c-text u-text-to-upper">
        <a href="#">
          <svg class="chart__svg">
            <use xlink:href="#lnr-chevron-right-circle"></use>
          </svg>
          <span>update</span>
        </a>
      </div>
      <div class="chart__icon u-c-text u-text-to-upper">
        <a href="#">
          <svg class="chart__svg">
            <use xlink:href="#lnr-cross-circle"></use>
          </svg>
          <span>delete</span>
        </a>
      </div>

    </div>
  </div>


  <div class="product__1st">
    <div class="product__1st__con">
      <h1 class="product__h1">
        product
      </h1>
      <div class="product__icon u-c-text u-text-to-upper">
        <a href="#">
          <svg class="product__svg">
            <use xlink:href="#lnr-arrow-down-circle"></use>
          </svg>
          <span>download pdf</span>
        </a>
      </div>
    </div>
  </div>



</div>