<div class="sidebar2nd__container" [ngStyle]="{'background-color': newColor}">



    <div class="sidebar2nd__1st">
        <div class="sidebar2nd__1st__con">
            <h1 class="sidebar2nd__h1">
                recent items
            </h1>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-arrow-down-circle"></use>
                    </svg>
                    <span>download pdf</span>
                </a>
            </div>
        </div>
    </div>



    <div class="sidebar2nd__2nd">
        <div class="sidebar2nd__2nd__con">
            <h1 class="sidebar2nd__h1">

            </h1>
            <div class="sidebar2nd__btn">
                <button class="btn btn__purple u-text-to-upper">new item</button>
            </div>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-menu-circle"></use>
                    </svg>
                    <span>edit</span>
                </a>
            </div>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-plus-circle"></use>
                    </svg>
                    <span>add</span>
                </a>
            </div>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-plus-circle"></use>
                    </svg>
                    <span>update</span>
                </a>
            </div>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-plus-circle"></use>
                    </svg>
                    <span>delete</span>
                </a>
            </div>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-history"></use>
                    </svg>
                    <span>history</span>
                </a>
            </div>
            <div class="sidebar2nd__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="sidebar2nd__svg">
                        <use xlink:href="#lnr-question-circle"></use>
                    </svg>
                    <span>info</span>
                </a>
            </div>
        </div>
    </div>



</div>