<div class="subsidebar__container">

    <div class="close">
        <a (click)="onClose()">
            <div class="close__btn">
                <svg class="close__svg">
                    <use xlink:href="#lnr-cross-circle"></use>
                </svg>
            </div>
        </a>
    </div>

    <div class="subsidebar__2nd">
        <div class="subsidebar__2nd__con">
            <h1 class="subsidebar__h1">

            </h1>
            <div class="subsidebar__btn">
                <button class="btn btn__purple u-text-to-upper">new item</button>
            </div>
            <div *ngFor="let subMenuItem of subMenuItems" class="subsidebar__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="subsidebar__svg">
                        <use [attr.xlink:href]="subMenuItem.icon"></use>
                    </svg>
                    <span>{{subMenuItem.name}}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="subsidebar__1st">
        <div class="subsidebar__1st__con">
            <h1 class="subsidebar__h1">
                recent items
            </h1>
            <div class="subsidebar__icon u-c-text u-text-to-upper">
                <a href="#">
                    <svg class="subsidebar__svg">
                        <use xlink:href="#lnr-arrow-down-circle"></use>
                    </svg>
                    <span>download pdf</span>
                </a>
            </div>
        </div>
    </div>


</div>